body, html{
    background-color: #ff6500;
}

div{
    border: 5px solid #ff1515;
}
p{
    border: 5px solid #66fff8;
}
h1{
    border: 5px solid #ff3785;
}

.card{
    background-color: #fff;
    width: 250px;
    border: 5px solid #0000ff;
}
.card-imagem{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 35px;
    margin-bottom: 100px;
    border :3px double #ffff00 ;
}
.card-botao{
    width: 100%; /* largura do elemento*/
    padding: 17px 0; /*Espaçamento interno*/
    background-color: #ff65ff; /*cor de fundo*/
    color: #fff; /*cor do texto*/
    font-family: Arial; /*tipo de fonte*/
    font-weight: bold; /*Peso da fonte negrito*/
}
.card-descricao{
    font-family: Arial;
    font-weight: bold; 
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 10px;/*espaçamento interno na esquerda*/
    padding-right: 10px;/*espaçamento interno na direito*/
    text-align: center; /*alinha o texto*/
}
.card-preco{
    font-family: Impact;
    font-size: 25px;
    color: #000; /*cor da fonte*/
    margin-bottom: 45px;
    padding-left: 10%;
}